.filters {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.filters_wrapper>div {
    box-shadow: none;
}

.filters_wrapper :global(.MuiAccordionDetails-root) {
    padding: 0;
}

.filters button {
    padding: 0;
}


.filters button span {
    margin: 0
}

.filters_wrapper :global(.MuiAccordion-root) {
    margin-top: 0;
}

.filters_wrapper :global(.MuiChip-filled) {
    color: white;
}

.chip {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.chip:hover {
    background-color: var(--color-primary) !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: white;
}