.post_property {
    padding: 2rem;
    width: 100%;
}

.post_property :global(.MuiStepLabel-iconContainer.Mui-active) {
    outline: 6px solid #95F7E0;
    border-radius: 50%;
    animation: pulseOutline 2s infinite ease-out,
}

@keyframes pulseOutline {
    from {
        outline-width: 0px;
        outline-color: #078f6f;
    }

    to {
        outline-width: 10px;
        outline-color: #c6faee;

    }
}

.step_item_title {
    font-size: 1.5rem
}

.form_steps_wrapper {
    padding: 0.5 0 1rem 0;
}

.form_row_wrapper {
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.furnishings_button_wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0.5rem 0;
}

.furnishings_button_wrapper button {
    width: fit-content;
}

.selected_furnishings {
    display: flex;
    gap: 0.5rem;
}

.form_item_wrapper {
    margin: 1rem 0 0.5rem 0;
}

.radio_group {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.post_property label {
    font-size: 1rem;
    font-weight: 600;
    color: black !important;
    margin-bottom: 0.5em;
}

.post_property .radio_group_label {
    font-size: 1rem;
    font-weight: 600;
    color: black !important;
    margin-bottom: 0.5em;
}

.post_property .radio_group_label.row {
    display: flex;
    column-gap: 3rem;
    justify-content: flex-start;
}

.post_property .radio_group_label.row button {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    text-decoration: none;
}

.post_property .radio_group_label.row button:hover {
    text-decoration: underline;
}

.post_property .radio_group_label.row button svg {
    height: 1.2rem;
    width: 1.2rem;
}

.post_property input {
    border-radius: 0.5rem;
}

.radio_label {
    flex: 1;
    margin: 0 !important;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.checkbox_group {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
}

.drawer_checkbox_group {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
}

.drawer_checkbox_label {
    margin: 0 !important;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 160px;
    max-width: 160px;
}

.checkbox_label {
    margin: 0 !important;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 160px;
    max-width: 160px;
}

/* form errors */
.row_error .radio_label,
.row_error .checkbox_label {
    border: 2px solid #f76b6b;
}

.error_message {
    color: #e41313;
    margin-top: 2rem;
}

.row_error :global(.MuiOutlinedInput-root) fieldset,
.row_error :global(.MuiPickersOutlinedInput-root) fieldset {
    border: 2px solid #f76b6b;
}

/* .row_error :global(.MuiSelect-root) {
    border: 2px solid #f76b6b;
} */

.row_error :global(.MuiOutlinedInput-root):hover fieldset,
.row_error :global(.MuiPickersOutlinedInput-root):hover fieldset {
    border: 2px solid #b60505;
}

.dismiss {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
}

.radio_label.selected,
.checkbox_label.selected {
    border: 2px solid var(--color-primary);
    background-color: rgb(31 171 137 / 0.1);
}

.error {
    /* color: red; */
}

.errorText {
    color: #e41313;
}


/* ####################### MOBILE BREAKPOINTS ######################## */
@media (max-width:600px) {
    .post_property {
        padding: 2rem 1rem;
        width: 100%;
    }

    .step_item_title {
        font-size: 1.2rem
    }

    .radio_label {
        padding: 0.2rem 0.5rem;
    }

    .radio_group {
        gap: 0.5em;
    }

    .checkbox_group {
        overflow: scroll hidden;
        flex-wrap: nowrap;
        gap: 0.7rem;
    }

    .checkbox_label {
        padding: 0.2rem 0rem;
        min-width: 140px;
        max-width: 160px;
    }

    .drawer_checkbox_group {
        justify-content: center;
    }

    .post_property label.row {
        display: flex;
        justify-content: space-between;
    }

    .error_message {
        margin-top: 1em;
    }

}