.container {
    padding: 1rem 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sortBy_wrapper {
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    padding: 0 0 0 0.4rem;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sorting {
    min-width: 180px;
    color: var(--color-primary);
}

.card {
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .image_wrapper {
    overflow: hidden;
}

/* .card img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.06);
} */

.card:hover .feature svg {
    color: var(--color-primary);
}

.card:hover .name {
    color: var(--color-primary);
}

.image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.details_wrapper {
    padding: 0.5rem 1rem;
}

.price {
    font-size: 1rem;
    font-weight: 500;
}

.name {
    font-size: 1rem;
    margin: 0 0 0.2rem 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.desc {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.divider {
    margin: 0.8em 0;
}

.features {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
}

.featureCard{
    display: flex;
    flex-direction: column;
    width: 7rem;
    row-gap: 0.2rem;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.feature {
    font-size: 0.8rem;
    align-items: center;
}

.feature svg {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.innerText{
    text-transform: capitalize;
}

.separater {
    margin: 0 1rem;
    color: #0000006c;
}

.sorting_icon{
    transition: all 0.4s ease-in-out;
}

.rotate_icon {
    transform: rotateY(180deg);
}

.footer {
    border-top: 1px solid rgb(207, 205, 205);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posted {
    display: flex;
    flex-direction: column;
}

.postedText, .postedValue {
    font-size: 0.9rem;
}

/* ####################### MOBILE BREAKPOINTS ######################## */
@media (max-width:600px) {

    .container {
        padding: 1rem 0;
    }

    .features {
        display: flex;
        justify-content: center;
    }

    .header {
        margin: 0;
    }

    .sorting {
        /* min-width: max-content; */
    }
}