.footer {
    padding: 3rem 3rem 1rem 3rem;
    color: white;
    background-color: var(--color-footer);
}

.footer_content {
    max-width: var(--breakpoint-max-width);
    margin: 0 auto;
}

.title {
    font-size: 1rem;
    text-transform: uppercase;
}

.links {
    margin-left: 0;
}

.link {
    padding-left: 0;
    padding-bottom: 0;
}

.link a{
    transition: all 0.2s ease-in-out;
}

.link a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    padding-left: 5px;
}

.social_icon {
    color: white;
    margin: 0 1rem;
}

@media (max-width: 600px){
    .footer {
        padding: 3rem 1rem 2rem 1rem;
    }
}