.drop_area {
    border: 2px dashed gray;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadIcon {
    height: 4rem;
    width: 4rem;
}

.active_border {
    border-color: #1fab89;
    background-color: #e2f5f0;
}

.inactive_border {
    border-color: gray;
    background-color: white;
}

.drop {
    font-size: 1.2em;
    margin-top: 0.5rem;
}

.browse {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.8em;
}

.preview {
    padding: 0.5rem;
    padding-top: 1rem;
    display: flex;
    overflow: auto hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
}

.preview img {
    height: 8rem;
    width: 8rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
}

.upload_button {
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.preview_item {
    position: relative;
}

.remove_btn {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 100%;
    border: none;
    padding: 0.2rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.remove_btn:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.22);
}



/* ####################### MOBILE BREAKPOINTS ######################## */
@media (max-width:600px) {
    .drop_area {
        padding: 0.5rem 1rem;
    }

    .uploadIcon {
        height: 2.5em;
        width: 2.5em;
    }


    .drop {
        font-size: 1em;
        margin-top: 0.5rem;
    }

    .browse {
        font-size: 0.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.5em;
    }

    .upload_button {
        height: 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .preview {
        gap: 0.7rem;
    }

    .preview img {
        padding: 0.5rem;
        height: 5rem;
        width: 5rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
        border-radius: 0.5rem;
    }

    .remove_btn {
        padding: 0;
    }

}