.hero_section {
  min-height: 70dvh;
  border: 2px solid green;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(15, 76, 129, 0.6), rgba(30, 41, 59, 0.7)), url(https://images.unsplash.com/photo-1568605114967-8130f3a36994?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}
 
.sub_title {
  color: white;
  margin-top: 1rem;
  text-align: center;
}

/* ################## SEARCH ################### */
.title {
  position: relative;
  font-size: 3.2rem;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  margin-top: 50px;
  overflow-wrap: anywhere;
  border-right: 3px solid white;
  width: 20ch;
  animation:
    typing 5s steps(20) 5s infinite alternate,
    blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  40%,
  60% {
    width: 21ch;
  }

  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* #################### MOBILE BREAKPOINT ####################### */

@media (max-width: 600px){
  .title {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
}